*.png
!*/*/map.png
*/SmoothedCompletenessPlots/*
*.pkl
*.idea
__pycache__/
*.fits
!SFD_dust_4096_ngp.fits
!SFD_dust_4096_sgp.fits
.env
Settings.ini
!*/requirements.txt
*/events/*
!*/events/README.md
web/src/utilities/galaxy_catalog_files/*.dat
